@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
    html {
        scroll-behavior: smooth;
    }

    #wing {
        -webkit-animation: flap 4s infinite linear alternate;
    }

    nav {
        background: rgba(0, 0, 0, .2);
        transition: background 1s linear;
    }
    .fade-in {
        background: rgba(0, 0, 0, 1);
    }

    .nav-dropdown:hover .dropdown-menu {
        display: block;
    }
}

@layer components {
    .nav-items {
        @apply text-xs text-slate-400 uppercase hover:text-yellow-400 hover:font-semibold
    }
    .nav-active {
        @apply font-semibold text-yellow-400
    }
    .dropdown-menu {
        @apply absolute hidden text-gray-700 py-4
    }
    .dropdown-items {
        @apply py-2 px-4 block text-sm whitespace-nowrap hover:text-yellow-400  bg-slate-500 backdrop-blur-sm bg-opacity-20
    }

    .sidebar-items {
        @apply block p-3 rounded-md text-slate-500 hover:text-white hover:bg-yellow-400 hover:bg-opacity-60
    }

    .btn {
        @apply text-sm sm:text-xs font-semibold py-3 px-6 rounded-full text-center
    }
    .btn-primary {
        @apply text-white bg-gradient-to-tr from-violet-900  to-orange-500 hover:bg-gradient-to-t
    }
    .btn-light {
        @apply text-slate-700 bg-slate-200 hover:bg-slate-100
    }
    .btn-outline-light {
        @apply text-slate-200 border border-slate-200 hover:bg-slate-200 hover:text-slate-700
    }

    .card {
        @apply overflow-hidden flex flex-col rounded-lg
    }
    .card-body {
        @apply p-4 sm:p-2
    }
    .card-primary {
        @apply bg-yellow-400 bg-opacity-25 border border-yellow-300
    }
    .card-secondary {
        @apply bg-gray-500 bg-opacity-25 border border-gray-800 text-white
    }

    .devider {
        @apply py-4 bg-gradient-to-b from-orange-300 opacity-20
    }

    .bottom-items {
        @apply text-xs text-slate-200 hover:text-white
    }
}

@-webkit-keyframes flap{
        0% {
            -webkit-transform:rotate(0deg);
        }
        50% {
            -webkit-transform:rotate(20deg);
        }
        100% {-webkit-transform:rotate(0deg);
        }
    }